
.row2 {
    margin-left: 47px;
    margin-right: -13%;
        width: 100%;
}

}
iframe{
 width: 100%;
height: 400px;
margin-top: -43px;
}

  .logopositie {
  margin-left: -72%;
    margin-top: -99px;
    float: left;
}

#wrapper {
    width: 90%;
}

#mentaal {
    width: 85%;
    height: 200px;
    margin-left: 6%;
}

#voeding {
    width: 85%;
    height: 200px;
    margin-right: 6%;
}

#fysiek {
    width: 85%;
    height: 200px;
    margin-left: 6%;
}

