
.logo{
         width: 32%;
    height: 20%;
    margin-left: -110%;
    margin-top: -8%;

}

.logomobile{
    display:none;
}



.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #fff;

}

/* slider*/
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: 10%;
}
    
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(255, 255, 255, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
    
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(255, 255, 255, 0.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
    


element.style {
}
carousel.less:193
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: blue;
    border: 1px solid navy;
    border-radius: 10px;
}


.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: navy;
}
    
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #0009;
    background-color: rgba(163, 128, 128, 0);
    border: 1px solid #6ba6da;
    border-radius: 10px;
}  
    
#pricing {
     margin: 0 auto;
 }    

#hoofd{
    background-color: #D5D5D5;
    border-color: #D5D5D5;
}

#voet{
  background-color: black;
  border-color: transparent;  
}
    
.into-slider .item {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
       
}

.into-slider > div > div > div:nth-child(2n) .item {
       background-color: rgba(85, 70, 70, 0.84);
}
